STRIPE_SECRET_KEY=REPLACE_WITH_STRIPE_LIVE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=REPLACE_WITH_STRIPE_LIVE_WEBHOOK_SIGNING_SECRET
STRIPE_PORTAL_CONFIGURATION=REPLACE_WITH_STRIPE_LIVE_PORTAL_CONFIGURATION_ID
STRIPE_PRICE_CLASE_SUELTA=REPLACE_WITH_LIVE_ONE_TIME_PRICE_ID
STRIPE_PRICE_PACK_4=REPLACE_WITH_LIVE_4_CLASS_PACK_PRICE_ID
STRIPE_PRICE_PACK_6=REPLACE_WITH_LIVE_6_CLASS_PACK_PRICE_ID
STRIPE_PRICE_PACK_10=REPLACE_WITH_LIVE_10_CLASS_PACK_PRICE_ID
STRIPE_PRICE_BONO_ILIMITADO=REPLACE_WITH_LIVE_UNLIMITED_CALENDAR_MONTH_ONE_TIME_PRICE_ID
STRIPE_PRICE_BONO_MENSUAL=REPLACE_WITH_EXISTING_LEGACY_MONTHLY_PRICE_ID
SITE_URL=https://genyoga.studio
ALLOWED_ORIGINS=https://www.genyoga.studio
PAYMENT_ALLOWED_ORIGINS=https://genyoga.studio,https://www.genyoga.studio
